{% extends "index_admin.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/admin_block_user_post">
  <table class="table table-bordered">
    <tr>
      <td>REASON</td>
      <td>
      <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required></textarea></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button" value="SEND" class="btn btn-primary" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
